[Unit]
Description=ArmA: Armed Assault - server
After=local-fs.target network.target

[Service]
LimitCORE=1000000
EnvironmentFile=/etc/conf.d/arma1server
User=steamcmd
WorkingDirectory=/opt/steamcmd/arma1server
Restart=always
ExecStart=/opt/steamcmd/arma1server/server ${OTHERPARAMS}

[Install]
WantedBy=multi-user.target
