[Unit]
Description=ArmA 2 OA - server
After=local-fs.target network.target

[Service]
LimitCORE=1000000

Environment=LD_LIBRARY_PATH=/opt/steamcmd/a2oa-server/
Environment=OTHERPARAMS="-cfg=basic.cfg -config=server.cfg"

User=steamcmd
WorkingDirectory=/opt/steamcmd/a2oa-server
Restart=always

ExecStart=/opt/steamcmd/a2oa-server/server -server ${OTHERPARAMS}

[Install]
WantedBy=multi-user.target

