[Unit]
Description=Battlefield 2 Server
After=network.target

[Service]
User=bf2-linuxded
EnvironmentFile=/etc/conf.d/bf2-linuxded
Environment="LD_LIBRARY_PATH=/opt/bf2-linuxded/bin/ia-32"
WorkingDirectory=/opt/bf2-linuxded
Restart=always
ExecStart=/opt/bf2-linuxded/bin/ia-32/bf2 $START_OPTS
SendSIGHUP=yes
StandardOutput=null

[Install]
WantedBy=multi-user.target
